body {
	min-width: 800px;
	overflow-x: hidden;
}

img {
	margin: 5px;
	max-width: 350px;
}

.download {
	border: 3px solid red;
}
.success {
	border: 3px solid blue;
}
.failed {
	border : 3px solid orange;
}