body {
	min-width: 900px;
	overflow-x: hidden;
}

img {
	margin: 5px;
	max-width: 250px;
}

.image_card {
	display: inline-block;
}

.download {
	border: 3px solid red;
}
.success {
	border: 3px solid blue;
}
.failed {
	border : 3px solid orange;
}